@model EStore.Models.DTO.LoginModel
@{

}

<form class="w-40" method="post" asp-action="Login">
	<h2 class="pb-10">Add Movies</h2>
	<div class="input-container">
		<label asp-for="UserName" class="w-40"></label>
		<input asp-for="UserName" class="form-control">
	</div>
	<div class="pd-x-28 ">
		<span asp-validation-for="UserName" class="text-danger"></span>
	</div>

	<div class="input-container">
		<label for="Password" class="w-40">Password</label>
		<input asp-for="Password" class="form-control" type="password">

	</div>
	<div class="message-box pd-x-28">
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>
	@if (TempData["msg"] != null)
	{
		<div class="alert mb-1">
			@TempData["msg"]
		</div>
	}

	<div class="input-container">
		<button class="btn btn-default" type="submit">Login</button>
	</div>
</form>